/* maven-pro-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../font/maven-pro-v39-latin-regular.woff2") format("woff2"), url("../font/maven-pro-v39-latin-regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* maven-pro-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../font/maven-pro-v39-latin-500.woff2") format("woff2"), url("../font/maven-pro-v39-latin-500.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* maven-pro-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../font/maven-pro-v39-latin-600.woff2") format("woff2"), url("../font/maven-pro-v39-latin-600.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* maven-pro-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../font/maven-pro-v39-latin-700.woff2") format("woff2"), url("../font/maven-pro-v39-latin-700.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* maven-pro-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../font/maven-pro-v39-latin-800.woff2") format("woff2"), url("../font/maven-pro-v39-latin-800.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* maven-pro-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../font/maven-pro-v39-latin-900.woff2") format("woff2"), url("../font/maven-pro-v39-latin-900.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}